<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("~/Views/_Shared/DevExtreme/_DevExtremeStyle.cshtml")
    @Html.Partial("~/Views/_Shared/DevExtreme/_DevExtremeScripts.cshtml")

    @Html.Partial("~/Views/_Shared/Meta/_Title_Meta.cshtml")
    <script src="~/js/ISNPS.js" asp-append-version="true"></script>
    <script src="~/js/ISNPSDevextreme.js" asp-append-version="true"></script>
    @Html.Partial("~/Views/_Shared/Meta/_Head_Css.cshtml")

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/_Shared/StylesBar/_Topbar.cshtml")
        @Html.Partial("~/Views/_Shared/StylesBar/_Sidebar.cshtml")
        @Html.Partial("~/Views/_Shared/StylesBar/_Modals.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @Html.Partial("~/Views/_Shared/StylesBar/_Page_Title.cshtml")

                    <div id="bodyContent">
                        <div class="container">
                            @RenderBody()
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    @Html.Partial("~/Views/_Shared/StylesBar/_Right_Sidebar.cshtml")

    @Html.Partial("~/Views/_Shared/Meta/_Vendor_Scripts.cshtml")
    <script src="~/js/reloadHandler.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script asp-append-version="true">
        function getApplicationRoot() {
            return '@Url.Content("~")';
        };
    </script>
</body>

</html>